/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    position: relative;
    min-height: 100%;
}
body {
    line-height: 1;
    color: #1f1f1f;
    background: url(../img/body-bg2.png) repeat 0 0;
    background-size: 250px auto;
    background-color: #eaebec;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
	background: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: none;
}

.wrap:before, .wrap:after,
.products:before, .products:after {
	content: "";
	display: table;
}

.wrap:after,
.products:after {
	clear: both;
}

/*
=======================================================
	FONTES
=======================================================
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: 'fontello';
  src: url('../../fonts/fontello.eot?67914387');
  src: url('../../fonts/fontello.eot?67914387#iefix') format('embedded-opentype'),
       url('../../fonts/fontello.woff?67914387') format('woff'),
       url('../../fonts/fontello.ttf?67914387') format('truetype'),
       url('../../fonts/fontello.svg?67914387#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?67914387#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-minus:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */

/*
=======================================================
	CART
=======================================================
*/

#cart-header-page #cart{
    display: none;
}

#cart{	
	width: 100%;
}

#cart table{
	width: 100%;
	table-layout: fixed;
}

.cart-header{
	width: 100%;
	background: #1f1f1f;
}

.cart-body{
	width: 100%;
}

.cart-header td,
.cart-body td,
.cart-buttons td{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
}

.cart-header td{
	padding: 10px;
	color: #fff;
}

.cart-body td,
.cart-buttons td{
	padding: 20px 10px;
	color: #1f1f1f;
}

.cart-product-photo-title,
.cart-product-photo-item{
	width: 10%;
}

.cart-product-photo-item img{
	width: 100%;
	height: auto;
}

.cart-product-name-title,
.cart-product-name-item{
	width: 40%;
}

.cart-product-price-title,
.cart-product-price-item{
	width: 15%;
    /*inclusão*/
    text-align: left;
}

.cart-product-qtd-title,
.cart-product-qtd-item{
	width: 15%;
    /*inclusão*/
    text-align: left;
}

.cart-product-total-title,
.cart-total-products{
	width: 20%;
}

.cart-product-total-item{
	width: 10%;
}

.cart-actions{
	width: 10%;
}

.cart-actions .cancel-cart{
	font-size: 18px;
	transition: color .3s ease-out;
}

.cart-actions .cancel-cart:hover{
	color: #e74d3d;
}

.cart-buttons{
	width: 100%;
	background-color: #33b5e5;
}

.cart-buttons td{
	color: #fff;
}

.cart-buttons .cart-checkout-buttons{
	width: 80%;
}

.cart-checkout-buttons .navigation-buttons{
	float: right;
}

.cart-checkout-buttons .navigation-buttons .btn{
	padding: 15px 50px;
}

/*
=======================================================
	HEADER
=======================================================
*/

#header{
	width: 100%;
}

#header .topbar {
    width: 100%;
    background: #33b5e5;
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #fff;
}

#logo {
    float: left;
    display: block;
    width: 130px;
    height: 130px;
    overflow: hidden;
    text-indent: 200%;
    color: #455A64;
    font-size: 24px;
    text-decoration: none;
    background-image: url(../../img/logo-menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: 50%;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 0 0 0 #fff, 0 0 0 2px #fff, 0 0 0 4px #000;
}

.content-header-navigation {
    position: relative;
    float: left;
    width: 860px;
    margin-top: 45px;
}

.form-search {
    float: left;
    min-width: 300px;
    margin-left: 50px;
    margin-top: 10px;
}

.form-search .form-item {
    margin: 0;
    width: 450px;
}

#btn-submit-search{
	position: absolute;
	right: 7%;
	top: 7px;
	display: block;
	width: 20px;
	font-size: 18px;
	color: #4a4a4a;
}

#btn-submit-search:focus{
	outline: none;
}

#btn-submit-search .icon{
	color: #cfcfcf;
	transition: all .2s ease-out;
}

.form-search .form-control:focus ~ #btn-submit-search .icon{
	color: #33b5e5;
}

.account-actions{
	float: left;
	margin: 0 0 0 110px;
}

.user-logged .profile{
    cursor: default;
}

#header .btn{
    min-width: 115px;
}

#btn-cart {
    position: fixed;
    right: 85px;
    z-index: 999;
    float: right;
    color: #ffffff;
    background: transparent;
    transform: translateY(0);
    transition: all .2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 33px;
}

#header .btn-type-1:hover{
    background: #0082B2;
    border-color: #0082B2;
    color: #fff;
}

.image-menu {
    width: 200px;
    margin: 0 auto;
    margin-top: -40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


#btn-cart.btn-cart-active{
	/*transform: translateY(-9px);*/
}

/*MENU*/
.menu {
    width: 100%;
    height: 74px;
    background: #33b5e5;
    display: flex;
    align-items: center;
}

.navigation-menu li {
    float: left;
    width: 13.666%;
}

.navigation-menu li a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
    background: #33b5e5;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
    transition: all .2s ease-out;
}

.navigation-menu li a:hover{
    border-bottom: 2px solid black;
}

/*
=======================================================
	PADRÃO
=======================================================
*/

body{
	font-family: 'Open Sans', sans-serif;
}

.main{
	position: relative;
	width: 100%;
    height: auto;
	padding: 25px 0;
}

.wrap{
	width: 1024px;    
	margin: 0 auto;
}

.title-page{
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

.navigation li{
	float: left;
}

.navigation-buttons li + li{
	margin-left: 15px;
}

.btn{
	display: inline-block;
	padding: 15px 20px;
	font-size: 14px;
	line-height: 20px;
    border-radius: 3px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
    transition: all .2s ease-out;
    cursor: pointer;
}

.btn.btn-disabled{
    cursor: default;
}

.btn-type-1{
	color: #fff;
	background: #33b5e5;
	border: 1px solid #fff;
}

.btn-type-1:hover{
	color: #33b5e5;
	background: #fff;
	border-color: #33b5e5;
}

.btn-type-2{
	color: #33b5e5;
	background: #fff;
	border: 1px solid #33b5e5;
}

.btn-type-2:hover{
    background: #fafafa;
}

.btn-type-3{
	color: #fff;
	background: #1f1f1f;
	border: 1px solid #1f1f1f;
}


/*
=======================================================
	FORMS
=======================================================
*/

.content-form{
    margin: 0 auto;
    padding: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

.content-form h2{
    font-size: 22px;
    font-weight: bold;
    color: #33b5e5;
    text-align: center;
}

.form-item{
	position: relative;
    margin: 20px 0;
}

.content-form .form-item{
    margin-bottom: 0;
}

.form-item .form-control {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #4a4a4a;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    transition: all .2s ease-out;
}

.form-item .form-control:focus {
    color: #1a1a1a;
	border-color: #33b5e5;
}

.form-item .form-control.form-control-type-2{
    width: 75%;
}

.form-item .form-control.form-control-type-3{
    width: 50%;
}

.form-item .form-control.form-control-type-4{
    width: 25%;
}

.form-item .form-control.form-control-type-2:focus{
    width: 80%;
}

.form-item .btn{
    width: 100%;
}

.form-validation-success,
.field-validation-error{
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.form-validation-success{
    color: #2ecc71;
}

.field-validation-error{    
    color: #e74d3d;
}

/*
=======================================================
	LOGIN & CHECKOUT
=======================================================
*/

#content-login-form, #content-checkout-form{
    width: 300px;    
}

/*
=======================================================
	ACCOUNT
=======================================================
*/

#content-account-form{
    width: 500px;
}

/*
=======================================================
	ADDRESS
=======================================================
*/

#content-address-form{
    width: 500px;
}

/*
=======================================================
	PRODUCT
=======================================================
*/

/*
=======================================================
	PRODUCT DETAILS
=======================================================
*/

product-details .content-product-image {
    float: left;
    width: 400px;
    margin-right: 24px;
}

#product-details .product-image {
    display: block;
    width: 400px;
    height: 400px;
}

#product-details .product-info {
    float: right;
    width: 600px;
}

#product-details .product-name {
    font-size: 36px;
    margin-bottom: 30px;
}

#product-details .product-description {
    padding: 20px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #dedede;
    font-size: 16px;
    line-height: 22px;
}

#product-details .old-price,
#product-details .label,
#product-details .current-price {
    display: block;
    margin: 10px 0;
}

#product-details .product-price-info {
    float: left;
    margin: 25px 0;
}

#product-details .old-price,
#product-details .label {
    font-size: 18px;
}

    #product-details .old-price span {
        text-decoration: line-through;
    }

#product-details .current-price {
    font-size: 32px;
    font-weight: bold;
    color: #33b5e5;
}

#product-details .product-qtd-info {
    float: right;
    margin: 35px 0 25px;
}

    #product-details .product-qtd-info span {
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
    }

    #product-details .product-qtd-info .product-qtd {
        width: 60px;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #dedede;
    }

#product-details .btn {
    width: 100%;
}

#product-details .product-available {
    clear: both;
    display: block;
    margin: 25px 0;
    color: #2ecc71;
    font-weight: bold;
    text-align: right;
}

/*
=======================================================
	FOOTER
=======================================================
*/

#footer {
    padding: 20px 0;
    background-color: #00BCD4;
    width: 100%;
    border-top: 5px solid white;
}

#footer h3{
    font-size: 17px;
    color: black;
    font-family: 'Press Start 2P', cursive;
    margin-top: 20px;
    margin-bottom: 10px;
}

#footer ul{
    border-left: 3px solid black;
    padding-left: 15px;
}

#footer li{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}
#footer a{
    color: white;
}
#footer li a:hover {
    text-decoration: none;
}

#footer p{
	color: #fff;
	text-align: center;
}

#footer .pagtos-container .pagtos .list {
    display: flex;
    flex-wrap: wrap;
}

#footer .pagtos li:not(:first-child) img {
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
}
#footer .pagtos li{
    padding: 0 10px 2px 10px;
}
#footer .navigation-menu li:first-child{
    margin-top:22px;
}
#footer .navigation-menu li{
    float: none;
    padding-bottom: 5px;
}
#footer .navigation-menu ul{
    min-height: 110px;
}

#footer .navigation-menu li a{
    display:block;
    padding: 0px;
    background: none;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
#footer .row{
    min-height: 150px;
}
#footer .menu{
    background: none;
}
#footer button.btn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all .3s linear;
    margin-left: -2px;
    padding: 5px 10px;
    margin-top: 10px;
}
#footer button.btn:hover {
    background: white;
    border: 1px solid #fff;
    color: #455A64;
}
#footer .sobre li, #footer .minha-conta li{
    padding-top: 4px;
}
#footer p{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}
/*
=======================================================
	OVERLAY
=======================================================
*/
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .75;
}

/*
=======================================================
	MESSAGES
=======================================================
*/

.message .title-page{
    font-size: 50px;
    text-align: center;
    margin: 100px 0 50px;
}

.message p{
    font-size: 30px;
    text-align: center;
}

.message .btn{
    display: block;
    width: 250px;
    margin: 40px auto;
}

/*
=======================================================
	INCLUSÕES
=======================================================
*/

.alert-danger {
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border-color: #eed3d7 !important;
  text-align:center !important;
}

.cart-product-photo-detalhe{
	width: 30% !important;
    height: 50px !important;
}

thead:before {
    content: "-" !important;
    display: block !important;
    line-height: 1em !important;
    color: transparent !important;
    font-weight: bold !important;
}

/*
=======================================================
	NOVOS CSS
=======================================================
*/
.layout footer#footer {

}

.main-benefits {
    height: 105px;
    background-color: #c6c6c6;
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

.main-benefits h3, .main-benefits p {
    font-family: 'Roboto', sans-serif;
}

.grid12-3 {
    display: flex;
    align-items: center;
}

.grid12-3 span {
    color: white;
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.benefits-text {
    width: 80%;
    padding: 0 10px;
    text-align: center;
}

.benefits-text h3 {
    font-size: 20px;
}

.main-products h2, .destaques h2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

.main-products h2 {
    margin-top: 40px;
}