#account-cadastrar h2, #Endereco h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: black;
}
#account-cadastrar .btn-success, #Endereco .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid black;
}
#account-cadastrar form, #Endereco form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#account-cadastrar div#content-account-form, #Endereco #content-address-form {
    background-color: white;
}
#account-cadastrar input, #Endereco input{
    min-width: 250px;
}
#account-cadastrar .form-item.newsletter, #Endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-cadastro-sucesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-cadastro-sucesso .wrap, #login-senha #content-login-form{
    background-color: white;
    max-width: 350px;
    max-height: 350px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}
.message-cadastro-sucesso h2{
    font-family: 'Press Start 2P', cursive;
    color: green;
    font-size: 25px;
}
.message-cadastro-sucesso .btn-success, #login-senha .btn-success{
    margin-top: 15px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid black;
}
#login-senha h1 {
    font-family: 'Press Start 2P', cursive;
    color: green;
    font-size: 17px;
    margin-bottom: 10px;
}
#login-senha {
    display: flex;
}
