@{
    ViewBag.Title = "Pedido Confirmado";
}

<section class="message">
    <div class="wrap">
        <h2 class="title-page">Pedido Confirmado!</h2>
        <p>Pedido realizado com sucesso. Aguarde o recebimento do seu pedido.</p>
    </div>
</section>

@section scripts {
    <script>
        cart.clear();
    </script>
}

