@{
    ViewBag.Title = "Usuário Cadastrado com Sucesso";
}

<section class="message">
    <div class="wrap">
        <h2 class="title-page">Sucesso!</h2>
        <p>Usuário cadastrado com sucesso.</p>
        <a href="~/Cliente/Login" class="btn btn-type-1">Login</a>
    </div>
</section>