@{
    ViewBag.Title = "Sem Pedidos Efetuados";
}

<section class="message">
    <div class="wrap">
        <h2 class="title-page">Pedidos</h2>
        <p>Não há registros de pedidos ainda...</p>
        <a href="/" class="btn btn-type-2">Vamos comprar?</a>
    </div>
</section>